
#item-gender__signup,
#item-dob__signup {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  z-index: 98;
}

#item-gender__signup {
  padding-right: 6px;
}

#item-dob__signup {
  padding-left: 6px;
}

.section-nav__span {
  //display: block;
  font-size: 12px;
  line-height: 200%;

  width: 100%
}

.down {
  background-color: $light-grey;
  color: $purple;
  font-size: 11px;
  font-family: montserrat;
  
  border: none;
  border-radius: 6px;
  padding: 6px 13px;

  margin-top: 2px;
  height: 21px;

  opacity: 0.9;

  &:hover {
    opacity: 1.5;
    cursor: pointer;
  }

}

#down-chevron,
#up-chevron {
  vertical-align: top;
}

.gender,
.dob {
  height: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -37px;      // stretch behind the down button

  .section-gender,
  .section-dob {
    display: flex;
    flex-direction: column;

    max-height: 0px;

    list-style-type: none;
    text-align: center;
    background: $light-purple;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;

    //z-index: 1000;
    
    &__item.signup {
      padding: 3px 10px;
      line-height: 20px;
    }

    &__select {
      color: $white;
      font-size: 12px;
    }

    &.collapsed__gender {
      max-height: 127.5px;
    }

    &.collapsed__dob {
      max-height: 320px;
      //margin-left: -120px;
    }
  
  }

  .section-gender {

    &__item.signup:hover {
      opacity: 0.5;
      cursor: pointer;
    }    

  }

  // For the individual selections in gender only
  &.active {
    max-height: 115px;
  }

}

.dob {

  .section-dob {
    margin-left: -130px;

  }

}


/**
  Git Tutorial
  https://www.youtube.com/watch?v=SWYqp7iY_Tc&t=1169s
  Instructions are on the github site for merging to it

  //https://www.freecodecamp.org/news/css-positioning-and-flexbox-explained/
**/



/** Subscription **/

#label-yes {
  max-width: 75%;
}

#checkbox-subscribe {
  //border-radius: 2px;
  //font-size: 4px;

  //border: 1px;

  height: 18px;
  max-width: 25%;

  //background-color: $purple;
}

/******** DOB - Calendar **********/

$color-one-light: #8392a7;
$color-one-dark: #68768a;
$color-white: #fff;

/*
.ui-datepicker-inline {
  background-color: red;

  position: relative;
  width: 100%;
}
*/ 

.ui-datepicker-header {
  height: 50%;
  line-height: 25px;
  //background: $color-one-light;
  //color: $color-white;
  margin-bottom: 10px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid $color-white;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 6px;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 12px;

  &:after {
    transform: rotate(45deg);
    margin: -20px 0px 0px 6px;
  }
}

.ui-datepicker-next {
  float: right;
  margin-right: 12px;

  &:after {
    transform: rotate(-135deg);
    margin: -20px 0px 0px 4px;

  }
}

.ui-datepicker-prev, .ui-datepicker-next  {
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid $color-white;
    border-bottom: 2px solid $color-white;

  }
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover, 
.ui-datepicker-prev:hover:after, 
.ui-datepicker-next:hover:after {
  border-color: $color-one-dark;
}

.ui-datepicker-title {
  text-align: center;

  padding-top: 5px;
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;

  thead {

    tr {
      th {
        span {
          display: block;
          width: 100%;
          color: $color-one-light;
          margin-bottom: 5px;
          font-size: 13px;
        }
      }
    }

  }

}

.ui-state-default {
  display: block;
  text-decoration: none;
  //color: #b5b5b5;
  color: white;
  //line-height: 30px;
  line-height: 20px;
  font-size: 12px;

  &:hover {
    //background: rgba(0, 0, 0, 0.02);
    opacity: 0.5;
    cursor: pointer;
  }

}

.ui-state-highlight {
  //color: $color-one-dark;
  //opacity: 0.5;
}

.ui-state-active {
  color: $color-one-dark;
  background-color: rgba(131, 146, 167, 0.12);
  font-weight: 600;
}

.ui-datepicker-unselectable {
  .ui-state-default {
    /*
    color: #eee;
    //color: $purple;
    border: 2px solid transparent;
    */
    opacity: 0.5;

  }

}





