
#item-gender__signup,
#item-dob__signup {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  z-index: 98;
}

#item-gender__signup {
  padding-right: 6px;
}

#item-dob__signup {
  padding-left: 6px;
}

.section-nav__span {
  //display: block;
  font-size: 12px;
  line-height: 200%;

  width: 100%
}

.down {
  background-color: $light-grey;
  color: $purple;
  font-size: 11px;
  font-family: montserrat;
  
  border: none;
  border-radius: 6px;
  padding: 6px 13px;

  margin-top: 2px;
  height: 21px;

  opacity: 0.9;

  &:hover {
    opacity: 1.5;
    cursor: pointer;
  }

}

#down-chevron {
  vertical-align: top;
}

.gender,
.dob {
  height: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -37px;      // stretch behind the down button

  .section-gender,
  .section-dob {
    display: flex;
    flex-direction: column;

    max-height: 0px;

    list-style-type: none;
    text-align: center;
    background: $light-purple;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;

    //z-index: 1000;
    
    &__item.signup {
      padding: 3px 10px;
    }

    &__item.signup:hover {
      opacity: 0.5;
      cursor: pointer;
    }    

    &__select {
      color: $white;
      font-size: 12px;
    }

    &.collapsed__gender {
      max-height: 127.5px;
    }
  
  }

  &.active {
    max-height: 115px;
  }

}




/**
  Git Tutorial
  https://www.youtube.com/watch?v=SWYqp7iY_Tc&t=1169s
  Instructions are on the github site for merging to it

  //https://www.freecodecamp.org/news/css-positioning-and-flexbox-explained/
**/



/** Subscription **/

#label-yes {
  max-width: 75%;
}

#checkbox-subscribe {
  //border-radius: 2px;
  //font-size: 4px;

  //border: 1px;

  height: 18px;
  max-width: 25%;

  //background-color: $purple;
}












/******** DOB ***********/

#span-month,
#span-day,
#span-year {
  display: none;
}