
#item-logo {
  max-width: 50%;

  height: 55px;
  text-align: left;
  padding-top: 5px; 
  margin-bottom: 10px;
}

#item-toggle {
  max-width: 50%;

  text-align: right;
  margin-top: 12px;
  margin-bottom: 18px;
  padding-left: 36px;
}

#link-toggle {
  font-size: 30px;
  color: $purple;
}

#link-toggle:hover {
  opacity: 0.5;
}

#button-signup {
  background-color: $white;
}

#item-signup {
  border-bottom: 1px $dark-grey solid;
}

#button-submit {
  background-color: $light-grey;
  font-size: 12px;
  margin: auto;
}

#button-submit__login:hover,
#button-submit__signup:hover {
  cursor: pointer;
}

.section-nav {

  &__img {
    max-height: 100%;
    max-width: 100%;
  }

  #item-toggle {
    padding-left: 36px;

    &.active {
      padding-left: 38.15px; 
    }

  }

  &__button {
    color: $purple;
    font-family: montserrat;
    
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
  }
  
  &__button:hover {
    opacity: 0.5;
  }

  &__input,
  &__span,
  .gender,
  .dob {
    background-color: $purple;
    color: $white;
    text-align: center;
    
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 4px;
  }

  &__item.menu,
  &__item.login,
  &__item.signup,
  &__item.button {
    display: block;
    padding: 7px 21px;
    width: 100%;
    height: auto;
  }

}


