.hero {
  //C:\xampp\htdocs\Fox_Spirit_Pro_V10_1_1_2\public\img\ocean1.jpg
  background-image: url(../img/ocean1.jpg);

  //height: 550px;
  height: 50%;

  // Position and center the image to scale nicely on all screens
  background-position: center;
  //background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  width: 100%;
  height: 50vh;

  z-index: -99;

  position: relative;

  .hero-content {
    position: absolute;
    text-align: center;
    
    margin-top: 70px;
    width: 100%;
    
    h1 {
      color: $white;
      padding-top: 20px;
      font-size: 80px;
      font-weight: 400;
      text-shadow: 2px 2px 8px $black;

      text-align: center;
    }

    h2 {
      color: $white;
      padding-top: 10px;
      font-size: 30px;
      font-weight: 300;
      text-shadow: 2px 2px 8px $black;

      text-align: center;
    }

  }
  
}

/** 
  how to have a div in a fixed position on top of another in css

**/


