@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet"');

@import '_config';
@import '_menu';
@import '_menu-elements';
@import '_menu-ordering';
@import '_menu-responsive';
@import '_login';
@import '_utilities';
@import '_dropdown';

@import '_dropdown-ordering';
@import '_page';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  top: 0;
  left: 0;
  
  font-family: montserrat;
  background: $purple;
  
  position: relative;
  z-index: -1;
}

header {
  height: 60px;
  background: $white;
}

